	<section>
		<h1>Recent Projects</h1>
		<div ng-repeat="project in portfolio.projects">
			<div class="project">
				<h3 class="page-header">{{project.name}}</h3>
				<div class="row">
					<div class="col-lg-6">
						<video class="screenshot" controls ng-if="project.sample.type == 'video'">
						 	Your browser does not support the video tag.
							<source ng-src="{{project.sample.source}}" type="video/mp4" />
						</video>
						<a ng-href="{{project.sample.link}}" ng-if="project.sample.type == 'img'">
							<img ng-src="{{project.sample.source}}" class="screenshot" />
						</a>
					</div>
					<div class="col-lg-6">
						<section>
							<label>Description</label>
							<div>{{project.description}}</div>
						</section>

						<section>
							<label>Languages/Frameworks</label>
							<div>{{project.stack}}</div>
						</section>

						<section>
							<label>
								Development Time
							</label>
							<div>~{{project.duration}} months</div>
						</section>

						<section>
							<label>Responsibilites</label>
							<div>
								<ul>
									<li ng-repeat="responsibility in project.responsibilities">
										{{responsibility}}
									</li>
								</ul>
							</div> 
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>

