.screenshot{
	border:1px solid #ddd;
	width:100%;
	-webkit-box-shadow: 7px 12px 35px -8px rgba(0,0,0,0.51);
	-moz-box-shadow: 7px 12px 35px -8px rgba(0,0,0,0.51);
	box-shadow: 7px 12px 35px -8px rgba(0,0,0,0.51);
	margin-bottom:50px;
}

.project{
	padding-bottom:50px;
}

.project li{
	list-style: inherit;
}
