div(ng-controller="NavCtrl")
	img(class="logo" alt="Brand" ng-src="/img/{{state.current.data.img}}" class="img img-circle")
	ul
		//li
			a(ui-sref="blog" ui-sref-active="active") Blog
		li
			a(ui-sref="portfolio" ui-sref-active="active") Portfolio
		//li
			a(ui-sref="experiments" ui-sref-active="active") Experiments
