include head.jade
body
	include sidebar.jade
	div(id="content" class="container")
		div(class="row")
			div(class="col-sm-6 col-md-4")
				div(class="experiment")
					div(class="thumbnail")
						img(src="/img/fractal-generator.jpg" alt="...")
						div(class="caption")
							h3 Fractal Generator
							p A Fractal Generator Built in Node.JS
							p
								a(href="#" class="btn btn-primary" role="button") View Demo