include head.jade
body
	include sidebar.jade
	div(class="container")
		
		div(id="content") 
			
			h1 About

			h3(class="page-header") Experience
			div I began coding as a teenager, and in December, 2012 I graduated with a Bachelors in Computer Science. In the past five years I have lead and collaborated in six development life cycles from conception to launch. My first project was an online multi-player browser game, the second was a business management system, and the third a popular mobile-first website. Through these three projects I developed a strong foundation in developing responsive, single-page applications in a Linux/Apache/MySQL/PHP environment. 
			br
			div At my most recent job I lead a team of junior developers in building first a social networking site, second a business intelligence system, and third an elaborate real estate management system. Through this position I became proficient in the .NET framework, and was also allowed to research and implement new technologies such as AngularJS. 
			//
				h3(class="page-header") Ethos
				div Through each of my projects, I have refined my skills in producing and maintaining software, as well as working harmoniously in a team. I take great ownership in my work, and am not satisfied unless I feel it is as organized and optimized as I am capable of making it. I love solving problems, and am always seeking new challenges which force me to evolve my craft. Lastly, I enjoy research and development, especially learning new languages and frameworks.
			//
				h3(class="page-header") Interests
				div In my free time I enjoy tinkering with Arduino, Tessel, and Node.JS. I am a big fan of film, by favorite directors being Akira Kurasawa and Stanley Kubrick. I am a practicing Theravada Buddhist, and have spent a lot of time living in branch monasteries of the 
				a(href="https://en.wikipedia.org/wiki/Ajahn_Chah") Venerable Ajahn Chah.
			br
			h1 Recent Projects

			div(class="project")				
				h3(class="page-header") Lead Developer - Datex Base Portal 
				div(class="row")
					div(class="col-lg-7 project")
						h4 Property Management System for Commerical Real Estate Companies	
						div
								span(class="label label-default") C#
								span(class="label label-default") AngularJS
								span(class="label label-default") T-SQL
								span(class="label label-default") Entity Framework
								span(class="label label-default") Web API 2
								span(class="label label-default") Bootstrap
						br
						ul 
								li Lead a team of three other developers
								li Architeched entire system, designed to provide dynamic content to multiple clients
								li Designed user interface
								li Developed a context-menu system whereby pages and menues can be added and nested indefinately all through a simple user interface
								li Developed RESTful APIs secured by Microsoft Identity Framework

					div(class="col-lg-5")
						a(href="/img/datex-base-portal.PNG")
								img(src="/img/datex-base-portal.PNG" class="screenshot")		

			div(class="project")			
				h3(class="page-header") Lead Developer - Datex Business Intelligence				
				div(class="row")
					div(class="col-lg-7")
						h4  Business Intelligence System for Commerical Real Estate Companies	
						div
								span(class="label label-default") C# 
								span(class="label label-default") AngularJS
								span(class="label label-default") T-SQL
								span(class="label label-default") Entity Framework
								span(class="label label-default") Web API 2
								span(class="label label-default") Bootstrap
						br
						ul 
							li Architeched engine designed to provide dynamic content to multiple clients
							li Designed user interface
							li Developed a context-menu system whereby pages and menues can be added and nested indefinately all through a simple user interface
							li Developed RESTful APIs secured by Microsoft Identity Framework
							li Built with C#, AngularJS, Entity Framework, Web API 2, Bootstrap
					div(class="col-lg-5")		
						video(class="screenshot" width="500" controls) Your browser does not support the video tag.
								source(src="/video/datex-business-intelligence.mp4#t=11" type="video/mp4")

			div(class="project")
				h3(class="page-header") Lead Developer - MRI Software User Group
				div(class="row")
					div(class="col-lg-7 project")
							div
								span(class="label label-default") VB.NET 
								span(class="label label-default") ASP.NET 4.5
								span(class="label label-default") jQuery
								span(class="label label-default") T-SQL
								span(class="label label-default") Bootstrap
					div(class="col-lg-5")		
						a(href="/img/mriug.PNG")
								img(src="/img/mriug.PNG" class="screenshot")

			div(class="project")							
				h3(class="page-header") Lead Developer - Abhayagiri
				div(class="row")
					div(class="col-lg-7")
							div
								span(class="label label-default") PHP
								span(class="label label-default") jQuery
								span(class="label label-default") MySQL
								span(class="label label-default") Bootstrap
					div(class="col-lg-5")		
							a(href="http://www.abhayagiri.org")
								img(src="/img/abhayagiri.PNG" class="screenshot")
		