include head.jade
body
	include nav.jade
	div(class="container-fluid")
		
		div(id="content") 
			
			h1 About

			h3(class="page-header") Experience
			div I began coding as a teenager, and in December, 2012 I graduated with a Bachelors in Computer Science. In the past five years I have lead and collaborated in six development life cycles from conception to launch. My first project was an online multi-player browser game, the second was a business management system, and the third a popular mobile-first website. Through these three projects I developed a strong foundation in developing responsive, single-page applications in a Linux/Apache/MySQL/PHP environment. 
			br
			div At my most recent job I led a team of junior developers in building first a social networking site, second a business intelligence system, and third an elaborate real estate management system. Through this position I became proficient in the .NET framework, and was also allowed to research and implement new technologies such as AngularJS. 

			br
			h1 Recent Projects

			div(class="project")
				h3(class="page-header") Lead Developer - Datex Base Portal 
				div(class="")
					div(class="row")
						div(class="col-lg-6")
							a(href="/img/datex-base-portal.jpg")
								img(src="/img/baseportal.jpg" class="screenshot")
						div(class="col-lg-6")
							b(class="") Description
							div Property Management System for Commerical Real Estate Companies	
							br
							b(class="") Stack
							div C#, AngularJS, T-SQL, Entity Framework, Web API 2, Bootstrap SPA
							br
							div
								b(class="") Responsibilities
								ul
									li Led a team of three other developers
									li Designed System
									li Designed responsive, Tablet-friendly UI
									li Developed a context-menu system to handle single-page navigation using b-trees. This system had to handle potentionally infinte nesting of pages, ie. 
										i /buildings/1/tenants/42/invoices/88/...
									li Developed secure RESTful APIs using Microsoft Web API 2 with Identity Framework	

			div(class="project")			
				h3(class="page-header") Lead Developer - Datex Business Intelligence
				div(class="")
					div(class="row")
						div(class="col-lg-6")		
							video(class="screenshot" controls) Your browser does not support the video tag.
									source(src="/video/datex-business-intelligence.mp4#t=11" type="video/mp4")
						div(class="col-lg-6")
							div
								b Description
							div Business Intelligence System for Commerical Real Estate Companies
							br
							b Stack
							div C#, AngularJS, T-SQL, Entity Framework, Web API 2, Bootstrap SPA
							br
							div 
								b Responsibilities
							div
								ul 
									li Designed System
									li Designed responsive, Tablet-friendly UI
									li Integrated Google Charts API
									li Developed secure RESTful APIs using Microsoft Web API 2 with Identity Framework
					

			div(class="project")
				h3(class="page-header") Lead Developer - MRI Software User Group
				div(class="")
					div(class="row")
						div(class="col-lg-6")		
							a(href="/img/mriug.jpg")
									img(src="/img/mriug.jpg" class="screenshot")
						div(class="col-lg-6")
								b Description
								div  Social networking site for users of the MRI software
								br
								b Stack
								div VB.NET, ASP.NET 4.5, jQuery, T-SQL, Bootstrap
								br
								b Responsibilities
								div
									ul
										li Led a team of one other developer using SCRUM
										li Met with the client and created issues/sprints 
										li Designed System
										li Designed UI
					

			div(class="project")							
				h3(class="page-header") Lead Developer - Abhayagiri
				div(class="row")
					div(class="col-lg-6")		
							a(href="http://www.abhayagiri.org")
								img(src="/img/abhayagiri.jpg" class="screenshot")
					div(class="col-lg-6")
						b Description
						div  Public website for the Buddhist Monastery, Abhayagiri
						br
						b Stack
						div PHP, jQuery, MySQL, Bootstrap, SPA
						br
						b Responsibilities
						div
							ul 
								li Designed System
								li Designed responsive, Mobile-friendly UI
								li Developed a CMS for the client
								li Developed a simple javascript framework for handling async requests to the database
								li Developed a responsive, persistent audio player
								li 
									a(href="http://www.abhayagiri.org") http://www.abhayagiri.org
					
		