/* Navbar */
nav{
	color:#fff;
  background:#333;
  font-family: 'Open Sans', sans-serif;
}
nav a.active, nav a:hover{
	color:#337ab7;
}

#navbar{
	font-size:20px;
}

#navbar .logo{
	width:75px;
	margin:10px;
	margin-right:50px;
	margin-left:50px;
}

#navbar ul{
	display:inline-block;
}

#navbar li{
	display:inline-block;
	margin-right:50px;
}


/* Sidebar */
#sidebar{
	position:fixed;
	display:inline-block;
	top:0;
	height:100%;
	width:300px;
	padding-top:25px;
}

#sidebar .logo{
	width:150px;
	margin-left:75px;
	margin-top:25px;
}

#sidebar ul{
	margin:0;
	padding-top:15px;
}

#sidebar ul>li{
	padding-top:40px;
	padding-left:75px;
	font-size:20px;
}
